* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

tbody {
  width: 540px;
  height: 600px;
  border: 1px solid #fff;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffff;
  margin-bottom: 20px;
  width: 200px;
  padding: 5px 10px;
}

header > span {
  font-size: 32px;
}

td {
  background-color: lightgrey;
  height: 50px;
  width: 50px;
}

td.red {
  background-color: red;
}

td.blue {
  background-color: blue;
}

td.green {
  background-color: green;
}

td.done {
  background-color: transparent;
}

.controller {
  margin-top: 20px;
}

button {
  padding: 10px;
  width: 100px;
  font-size: 20px;
  margin-right: 10px;
}

button[data-color='red']:active {
  background-color: red;
}

button[data-color='blue']:active {
  background-color: blue;
}

button[data-color='green']:active {
  background-color: green;
}
